h1 {
	color: #574B90;
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 600;
}

p {
	color: #786FA6;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
}
